<!DOCTYPE html>
<html>
<head>
<title>Thanks</title>
<link rel="stylesheet" href="stylesheets/style.css">
</head>
<body style="text-align: center">
<h1></br>Thanks for using our application, you will hear from us soon!</h1>
</body>
</html>
